@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
/* font */
* {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    margin-left: 2em;
    margin-right: 2em;
}

.home {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.profile-card {
    border: 1px solid black;
    min-height: 200px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
/* text */

h1 {
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
    font-weight: 200;
    margin-bottom: 0.5em;

}

h4 {
    font-size: 3.052rem;
}

p {
    line-height: 1.5em;
}

header {
    grid-area: header;
    padding: 1em;
}

main {
    grid-area: main;
    display: grid;
    padding: 1em;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
}

footer {
    grid-area: footer;
    display: flex;
    padding: 1em;
    border-top: 0.5px solid rgb(172, 172, 172);
    font-size: 0.75em;
    justify-content: center;
}

section {
    justify-content: center;
    padding: 2em
}
/* section */
.section-2col {
    grid-column-end: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-img {
    display: block;
}
.grid-column-start-1 {
    grid-column-end: span 1;
}
.section-1col {
    grid-column-end: span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.section-profile {
    display: grid;
    grid-template-columns: 2fr;
    max-height: 250px;
    align-items: center;
    /* display: flex;
    align-items: flex-start; */
}

/* navigasi */
.navigation {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1em;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid rgb(172, 172, 172);
}

.navigation .logo {
    font-size: 1.5em;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.navigation a {
    text-decoration: none;
    color: black;
}

/* elements */

.login-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #41EAD4;
    border: 1px solid black;
    padding: 20px;
    justify-content: space-evenly;
}

.login {
    display: flex;
}



.posting-form {
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    min-height: fit-content;
    align-self: flex-start;
    margin-bottom: 1em;
}

.posting-form > button {
    justify-self: flex-end;
    align-self: flex-end;
}

.posting-form > textarea {
    max-width: 100%;
    padding: 20px;
    height: 100px;
    resize:none;
    margin-bottom: 1em;

    font-family: 'Inter';
}

.post-card {
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    min-height: fit-content;
    align-self: flex-start;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.post-photo-placeholder {
    min-width: 30%;
}
.post-text-placeholder {
    width: 70%;
    margin-bottom: 2rem;
}

input[type=text] {
    border: 1px solid black;
    margin: 4px;
    padding: 10px;
}

input[type=password] {
    display: block;
    border: 1px solid black;
    margin: 4px;
    padding: 10px;
}


button {
    width: 200px;
    display: inline;
    padding: 10px;
    margin: 4px;


    color: black;
    background-color: #fbff12;
    border: 1px solid black
    

}

button:active {
    background-color: #a7c957;
}

.join-btn {
    background-color: #FF206E;
    color: white
}

div {
    display: flex;
    flex-direction: column;
}

.v-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-card .v-div {
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    min-width: 200px;;
}


.h-div {
    margin-top: 1em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-around;
    align-items: flex-start;
}

.user-info {
    justify-content: flex-start;
}

.delete-button {
    margin-top: 2rem;
    align-self: flex-end;
    background-color: #FF206E;
    color: white;
}
p {
    padding: 0.5rem;
    display: inline;
}

.name {
    font-weight: 800;
}

.username {
    font-style: italic;
}

img {
    width: 200px;
    height: 200px;
    object-fit:cover;
}

.background {
    margin: 10px;
    padding: 2rem;
    width: 800px;
    height: 500px;
}

  .sort-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
.sort-button-container button {
    background-color: white;
    border: 1px solid grey;
}
  .sort-button-container button:active {
    background-color: #41EAD4;
  }